{% extends 'base/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
            <h2>Configurar nueva contraseña</h2>
            {% if validlink %}
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            {% else %}
                <p style="color:red">Token inválido.</p>
                <p>
                    <a href="{% url 'password_reset'%}">Pedir un nuevo token para cambiar la contraseña</a>
                </p>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
